<tr>
    <tr>
    <td style="width:400px;">
    <h4>
    <% content_tag('div') do %>
       <% if User.current.allowed_to?({:controller => "projects", :action => "show"}, project, :global => "false") %>
          <%= link_to (project.name.to_s, :controller=>"projects", :action=>"show", :id=>project.id) %>        
        <%else%>
          <%= project.name%>
        <%end%>
      <%=alt_name(project)%>
    <%end%>
    </h4>    
    </td>
    </tr>
    <tr>
    <td>
    <table>           
    <% for custom_value in project.custom_values %>
      <% if (!custom_value.value.blank?)  %>        
        <%next if ( (custom_value.custom_field_id.to_s == @main_sort.to_s) ) %>
        <%next if ( (custom_value.custom_field_id.to_s == @sub_sort.to_s) ) %>
        <%next if ( (custom_value.custom_field_id.to_s == @alt_name.to_s) ) %>
        <%next if (@profiles.select{|e| ( (e.meaning==custom_value.custom_field_id.to_s) && (e.value=="not show") )}.size>0)%>
        <tr><td><%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %></td></tr>
      <% end %>
    <% end %>
    <%if (!project.homepage.blank?)%>
      <tr><td><%= l(:projects_profiles_homepage)%>: <%=project.homepage%></td></tr>
    <%end%> 
    <%if (!project.created_on.blank?)%>
      <tr><td><%= l(:projects_profiles_created_on)%>: <%=project.created_on%></td></tr>
    <%end%>
    <%if (!project.updated_on.blank?)%>
      <tr><td><%= l(:projects_profiles_updated_on)%>: <%=project.updated_on%></td></tr>
    <%end%>
    <%if (!project.description.blank?)%>
      <tr><td><%= l(:projects_profiles_description)%>: <%=project.description%></tr>
    <%end%>
    </table>
    </td>
    <td style="width:400px;">
      <table>
      <%= users_with_roles(project) %>
      </table>
    </td>
    </tr>
<br/>
</tr> 
