<tr>
    <tr>
    <td style="width:400px;">
    <h4>
    <% content_tag('div') do %>
    <%=link_to(project.name.to_s, :controller => "projects", :action => "show", :id => project.id) %>
      <%=alt_name(project)%>
    <%end%>
    </h4>    
    </td>
    </tr>
    <tr>
    <td>
    <table>           
    <% for custom_value in project.custom_values %>
      <% if (!custom_value.value.blank?)  %>        
        <%next if ( (custom_value.custom_field_id.to_s == @main_sort.to_s) ) %>
        <%next if (@profiles.select{|e| e.meaning==custom_value.custom_field_id}.size>0)%>
        <tr><td><%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %></td></tr>
      <% end %>
    <% end %>
    </table>
    </td>
    <td style="width:400px;">
      <table>
      <%= users_with_roles(project) %>
      </table>
    </td>
    </tr>
<br/>
</tr> 
